<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDBRbCet6wzBptN6G3ay3nAj84tIW0MhGI</string>
	<key>GCM_SENDER_ID</key>
	<string>157156766967</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cfsoftwaresolutions.CFLTax</string>
	<key>PROJECT_ID</key>
	<string>calcleasepricing</string>
	<key>STORAGE_BUCKET</key>
	<string>calcleasepricing.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:157156766967:ios:6aa7d8689f10919b954ff2</string>
</dict>
</plist>